<div class="navbar-wagon dark-skin<%= yield(:navbar_class) %>">

  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <div class="ll" style="padding-left: 41px"><%= image_tag "logo.png", class: "logo" %></div>
  </a>

  <!-- Notifications -->

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
  <% is_displayed = current_employee.received_notifications.where(read: false).count > 0 ? '' : 'hide-notif' %>
  <div class="flex-center nav-notif dropdown dropdown-toggle">
    <i class="fa fa-bell" id="employee-bell" data-toggle="dropdown" aria-hidden="true" style="padding-right: 15px; color: #fff;"></i>
    <div class="notif-badge <%= is_displayed %>">
      <p><%= current_employee.received_notifications.where(read: false).count %></p>
    </div>
    <ul class="notif-container-employee hide-notif dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
      <li class="clear-read">
        <%= link_to 'Mark all as read', notifications_mark_as_read_path, method: :patch, class: "read" %>
        <%= link_to 'Clear all', notifications_mark_as_cleared_path, method: :patch, class: "cleared" %>
      </li>
      <% current_employee.received_notifications.where(cleared: false).each do |notification| %>
        <%= render 'shared/notification-employee', notification: notification %>
      <% end %>
    </ul>
  </div>

<% if employee_signed_in? %>

    <div class="navbar-wagon-item">
      <div class="dropdown">
        <% img = current_employee.photo? ? current_employee.photo.url(:bright_face)  : 'jsut0cgif0nnmpalnwpn' %>
        <%= cl_image_tag img, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", 'data-toggle' => "dropdown" %>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li> <%=link_to "Log Out", destroy_employee_session_path, method: :delete %></li>
        </ul>
      </div>
</div>
<% else %>
   <%=link_to "Log in", new_employee_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
   <%=link_to "Sign up", new_employee_registration_path, class: "navbar-wagon-item navbar-wagon-link" %>
<% end %>
  <!-- Profile picture with dropdown list -->
  <!-- Dropdown appearing on mobile only -->
</div>
<% if employee_signed_in? %>
<div class="hidden-lg hidden-md">
    <div class="navbar-wagon-item">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><%=link_to "Create", new_admin_activity_path %></li>
        <li><%=link_to "Activities", admin_activities_path %></li>
        <li><%=link_to "Log Out", destroy_employee_session_path, method: :delete %></li>
      </ul>
    </div>
  </div>
  <% else %>
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><%=link_to "Create", new_employee_session_path %></li>
        <li><%=link_to "Log in", new_employee_session_path %></li>
        <li><%=link_to "Sign up", new_emloyee_registration_path %></li>
      </ul>
    </div>
  </div>
  <% end %>
</div>
</div>

<%= content_for(:after_js) do %>
  <script>
    let navNotif = document.querySelector('.nav-notif');
    let notifContainer = document.querySelector('.notif-container');
    navNotif.addEventListener('click', function() {
      notifContainer.classList.toggle('hide-notif');
    });
  </script>
<% end %>
