<div class="navbar-wagon <%= yield(:navbar_class) %>" style="margin-bottom: 23px !important;">
  <!-- Logo -->
<%= link_to "Back", activities_path(:date => params[:date]), class: "samback" %>


 <h5 class="filter-title text-center">Filter</h5>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
  <%=link_to "Booked Activities", bookings_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <div class="navbar-wagon-item navbar-guest-fitler">
      <div class="dropdown">
        <% img = current_guest.photo? ? current_guest.photo.url(:bright_face)  : 'jsut0cgif0nnmpalnwpn' %>
        <%= cl_image_tag img, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", 'data-toggle' => "dropdown" %>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><%=link_to "Profile", profile_guest_path %></li>
          <li> <%=link_to "Log Out", destroy_guest_session_path, method: :delete %></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="hidden-lg hidden-md">
    <div class="navbar-wagon-item navbar-guest-fitler">
      <%= link_to "Reset", "#", class: "samback" %>
    </div>
  </div>
</div>


<%= content_for(:after_js) do %>
  <script>
    let navNotif = document.querySelector('.nav-notif');
    let notifContainer = document.querySelector('.notif-container');
    navNotif.addEventListener('click', function() {
      notifContainer.classList.toggle('hide-notif');
    });
  </script>
<% end %>
