<div class="navbar-wagon <%= yield(:navbar_class) %>">
  <!-- Left Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
  <%=link_to "Booked Activities", bookings_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <% img = current_guest.photo? ? current_guest.photo.url(:bright_face)  : 'jsut0cgif0nnmpalnwpn' %>
        <%= cl_image_tag img, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", 'data-toggle' => "dropdown" %>
        <ul class="dropdown-menu dropdown-menu-left navbar-wagon-dropdown-menu" >
          <li><%=link_to "Profile", profile_guest_path %></li>
          <li> <%=link_to "Log Out", destroy_guest_session_path, method: :delete %></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="hidden-lg hidden-md">
      <div>
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-left navbar-wagon-dropdown-menu" id="left-navbar-dropdown">
          <li><%=link_to "Profile", profile_guest_path %></li>
          <li><%=link_to "Booked Activities", bookings_path %></li>
          <li><%=link_to "Log Out", destroy_guest_session_path, method: :delete %></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <div class="ll"><%= image_tag "logo.png", class: "logo" %></div>
  </a>

  <!-- Notifications -->
  <% is_displayed = current_guest.received_notifications.where(read: false).count > 0 ? '' : 'hide-notif' %>
  <div class="flex-center nav-notif dropdown dropdown-toggle">
    <i class="fa fa-bell" data-toggle="dropdown" aria-hidden="true"></i>
    <div class="notif-badge <%= is_displayed %>">
      <p><%= current_guest.received_notifications.where(read: false).count %></p>
    </div>
    <ul class="notif-container hide-notif dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
      <li class="clear-read" >
        <%= link_to 'Mark all as read', notifications_mark_as_read_path, method: :patch, class: "read dropdown-li-notifications" %>
        <%= link_to 'Clear all', notifications_mark_as_cleared_path, method: :patch, class: "cleared dropdown-li-notifications" %>
      </li>
      <% current_guest.received_notifications.where(cleared: false).each do |notification| %>
        <%= render 'shared/notification-guest', notification: notification %>
      <% end %>
    </ul>
  </div>
</div>


<%= content_for(:after_js) do %>
  <script>
    let navNotif = document.querySelector('.nav-notif');
    let notifContainer = document.querySelector('.notif-container');
    navNotif.addEventListener('click', function() {
      notifContainer.classList.toggle('hide-notif');
    });
  </script>
<% end %>
