<div class="whatever step-2 <%= 'hidden' if hidden %>" id="navbar-form">

  <div class="sam-custm date-choose">
    <%= link_to rerender_path(@activity, date: (@date - 1.day).strftime('%d-%m-%Y')), remote: true do %>
      <h2 class="sam-custm3"><i class="fa fa-angle-left"></i></h2>
    <% end %>

    <h2 class="sam-custm3"><%= @date.strftime("%b %d, %Y") %></h2>

    <%= link_to rerender_path(@activity, date: (@date + 1.day).strftime('%d-%m-%Y')), remote: true do %>
      <h2 class="sam-custm3"><i class="fa fa-angle-right"></i></h2>
    <% end %>
  </div>

  <div class="scrolls">
    <div class="form-group sam-custm2" id="bookings-wrapper">
      <!-- <div class="bookings-wrapper"> -->
      <% @availabilities.each do |availability| %>
        <span class="bookings">

          <label for="booking_availability_id_<%= availability.id %>">
            <input type="hidden" name="booking[availability_id]">
            <input class="radio_buttons required hidden" type="radio" value="<%= availability.id %>" name="booking[availability_id]" id="booking_availability_id_<%= availability.id %>">
            <%= availability.start_time.strftime("%I:%M %p") %>
          </label>
        </span>
      <% end %>
        <!-- </div> -->
    </div>
  </div>
</div>
