 <div id="whole">
 <% @response = Weather.lookup(28743663, Weather::Units::CELSIUS) %>

<div class="slideshow-container">
  <div class="text">Bora Bora</div>
  <%= video_tag 'ocean.mp4', autoplay: true, loop: :loop, class: "homepic" %>
</div>

<div class="homeinfo">
  <div class="weatherinfo">
    <p>
      <div class="weatherinfo-main">
        <%= @response.condition.text %>
        <p>
          <i class="fa fa-thermometer-half"></i> <%= @response.condition.temp %> °C
          <i class="fa fa-clock-o"></i> <%= @response.condition.date.strftime('%H:%M') %>
          <div class="sunrise">
            <p>
              sunrise <%= @response.astronomy.sunrise.strftime('%H:%M') %> |
              sunset <%= @response.astronomy.sunset.strftime('%H:%M') %>
            </p>
          </div>
        </p>
      </div>
      <% if @response.condition.text == "Cloudy" %>
         <%= image_tag 'weather/cloudy.png', class: "weather"%>
      <% elsif ["Rain", "Showers"].include?(@response.condition.text) %>
          <%= image_tag 'weather/rain.png', class: "weather" %>
      <% elsif @response.condition.text == "Sunny" %>
          <%= image_tag 'weather/sunny.png', class: "weather" %>
      <% elsif ["Partly Cloudy", "Mostly Cloudy"].include?(@response.condition.text) %>
          <%= image_tag 'weather/sunclouds.png', class: "weather" %>
      <% end %>
    </p>
  </div>

</div>
<h3 class="guesthead">Book your activity</h3>
<div>
  <div class="bookings-wrapper samcustombookingwrapper scrolls" id="home-activity-slider">
    <div class="card-cat" style="background-image: linear-gradient(rgba(16, 123, 137,0.3), rgba(16, 123, 137,0.2)), url('https://images.unsplash.com/photo-1477894387642-00a731c511b3?auto=format&fit=crop&w=2079&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D');">
        <div class="card-description">
          <h2>SPORTS</h2>
        </div>
        <%= link_to "", activities_path, class: "card-link" %>
    </div>
     <div class="card-cat" style="background-image: linear-gradient(rgba(133, 9, 87,0.3), rgba(133, 9, 87,0.2)), url('https://images.pexels.com/photos/3188/love-romantic-bath-candlelight.jpg?w=940&h=650&dpr=2&auto=compress&cs=tinysrgb');">
        <div class="card-description">
          <h2>SPA</h2>
        </div>
        <%# link_to "", activity_path(activity, date: Date.today.strftime('%d-%m-%Y')), class: "card-link" %>
    </div>
      <div class="card-cat" style="background-image: linear-gradient(rgba(207, 96, 36,0.3), rgba(207, 96, 36,0.2)), url('https://images.unsplash.com/photo-1414235077428-338989a2e8c0?auto=format&fit=crop&w=1650&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D');">
          <div class="card-description">
            <h2>FOOD</h2>
          </div>
          <%# link_to "", activity_path(activity, date: Date.today.strftime('%d-%m-%Y')), class: "card-link" %>
      </div>
        <div class="card-cat" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1472523405455-f2ea719bf02c?auto=format&fit=crop&w=1500&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);">
        <div class="card-description">
          <h2>EVENTS</h2>
        </div>
        <%# link_to "", activity_path(activity, date: Date.today.strftime('%d-%m-%Y')), class: "card-link" %>
      </div>
  </div>
</div>
<h3 class="guesthead">Your day</h3>
<div class="today-schedule">
  <% @user = current_guest %>
  <% @todaybookings = Booking.all %>
  <% @todaybookings.each do |booking| %>
  <div class="today-booking">
    <div class="today-time">
      <strong><%= booking.availability.start_time.strftime('%H:%M') %></strong>
    </div>
    <div class="today-act">
      <%= booking.availability.activity.name %>
    </div>
  </div>
  <% end %>
</div>
</div>
