<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 col-xs-12">
    <h1 id="heading-edit">Your Profile Page</h1>
    </div>
    <div class="col-sm-6 col-sm-offset-3 col-xs-12">
      <div class="edit-page-info">
        <div class="profile-pic">
          <%= cl_image_tag current_guest.photo? ? current_guest.photo.url(:bright_face)  : 'jsut0cgif0nnmpalnwpn', class: "avatar" %>
        </div>
        <div class="edit-info-text">
          <p> Name: <%= current_guest.first_name.capitalize %> <%= current_guest.last_name.capitalize %> </p>
          <p> Email: <%= current_guest.email %> </p>
        </div>
      </div>
    </div>
<div class="col-sm-6 col-sm-offset-3 col-xs-12">
  <hr>
    <h8><strong>Edit your details:</strong></h8>
    <%= simple_form_for(current_guest, url: profile_guest_path, method: :patch) do |f| %>
    <br>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :email %>

      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>
    <div class="padd">
<%= link_to "Back", :back %>
    </div>
  </div>
</div>
</div>
