<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 col-xs-12">
    <h1>Your Profile Page</h1>
    </div>
    <div class="col-sm-6 col-sm-offset-3 col-xs-12">
      <%= current_guest.first_name.capitalize %> <%= current_guest.last_name.capitalize %>
    </div>
    <div class="col-sm-6 col-sm-offset-3 col-xs-12">
      <div class="profile-pic">
        <%= cl_image_tag current_guest.photo, class: "avatar" %>
      </div>
    </div>
    <div class="col-sm-6 col-sm-offset-3 col-xs-12">
      <%= current_guest.email %>
    </div>
<div class="col-sm-6 col-sm-offset-3 col-xs-12">
  <hr>
    <h8><strong>Edit your details:</strong></h8>
    <%= simple_form_for(current_guest, url: profile_guest_path, method: :patch) do |f| %>
    <br>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :email %>

      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>

<%= link_to "Back", :back %>
  </div>
</div>
</div>
