<div class="show-page-header" >
  <div class="calendar-header">
    <div class="top-line-show">
      <h1>Your Activities</h1>
        <%= link_to "add new", new_admin_activity_path, class: "btn btn-primary", id: "add" %>
    </div>
  </div>

    <div class="tabs">
    <p class="tab active" id="schedule"> all</p>
    <% @activities.each do |activity| %>
      <p class="tab active" id="schedule"><%=  activity.category %></p>
      <% end %>
    </div>


</div>



<div class="container-fluid" id="list">
  <div class="row">
    <% @activities.each do |activity| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <% img = activity.photo? ? activity.photo : "yq4gxp0oltwleiwafrx6" %>
          <div class="card">

            <div class="top">
              <div class="picture" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path img %>');"></div>
            </div>

          <div class="bottom">
            <div class="card-description samcustomdescription">
              <h2><%= activity.name %></h2>
            </div>
            </div>

            <%= link_to "", admin_activity_path(activity), class: "card-link" %>
            </div>
      </div>
    <% end %>
  </div>
</div>
