<div class="show-page-header" >
  <div class="calendar-header">
    <div class="top-line-show">
      <h1>Add an activity</h1>
        <%= link_to admin_activities_path, class: "btn btn-primary", id: "add" do %>
          <i class="fa fa-close"></i> Cancel
        <% end %>
    </div>
  </div>
  <div class="tabs" style="height: 65px;">
  </div>
</div>

<div class="container-add" >
  <div class="form-post" id="new-activity">
    <div class="new-activity">
      <%= simple_form_for [:admin, @activity], defaults: { input_html: { class: "activity-form"} } do |f| %>
        <% if @activity.errors.any? %>
          <div class="errors-container">
            <ul>
              <% @activity.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group string required activity_name">
                <label class="control-label string required texts" for="activity_name" id="new-activity-text">
                  <abbr title="required"></abbr> Name *
                </label>
                <input class="form-control string required activity-form" type="text" name="activity[name]" id="activity_name">
              </div>
           </div>
            <div class="col-xs-6">
              <div class="form-group string required activity_location">
                <label class="control-label string required" for="activity_location" id="new-activity-text">
                  <abbr title="required"></abbr> Location *</label>
                  <input class="form-control string required activity-form" type="text" name="activity[location]" id="activity_location">
              </div>
           </div>
         </div>
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group integer optional activity_capacity">
                <label class="control-label integer optional" for="activity_capacity" id="new-activity-text">
                Capacity</label>
                <input class="form-control numeric integer optional activity-form" type="number" step="1" name="activity[capacity]" id="activity_capacity">
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group integer optional activity_price">
                <label class="control-label integer optional" for="activity_price" id="new-activity-text">Price</label>
                <input class="form-control numeric integer optional activity-form" type="number" step="1" name="activity[price]" id="activity_price">
              </div>
           </div>
         </div>

        <div class="row">
          <div class="col-xs-6">
            <div class="form-group select optional activity_category">
              <label class="control-label select optional" for="activity_category">
              Category
              </label>
              <select class="form-control select optional activity-form" name="activity[category]" id="activity_category"><option value=""></option>
              <% Activity::CATEGORIES.each do |category| %>
                <option value="<%= category %>"><%= category %></option>
              <% end %>
            </div>

          <div class="col-xs-6">
            <%= f.input :duration %>
          </div>

        </div>
        <div class="row">
          <div class="col-xs-6">
            <div class="form-group string required activity_description">
              <label class="control-label string required" for="activity_description" id="new-activity-text">
              Description *
              </label>
              <input class="form-control string required activity-form" type="text" name="activity[description]" id="activity_description">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <div class="form-group file optional activity_photo">
              <label  for="activity_photo" id="new-activity-text">Image of activity</label>
              <input class="inputfile" type="file" name="activity[photo]" id="file" data-multiple-caption="{count} files selected" multiple>
              <label class="new_button" for="file" ><i class="fa fa-upload"></i> <span> upload picture</span></label>
            </div>
            <div class="hidden">
              <%= f.input :photo %>
            </div>
          </div>
          <div class="col-xs-6">
            <%= f.submit "Next", class: "btn btn-primary", id: "next-activity-button"%>
            <% end %>
          </div>
        </div>

  </div>
</div>

<%= content_for(:after_js) do %>
<script>
  var inputs = document.querySelectorAll( '.inputfile' );
  Array.prototype.forEach.call( inputs, function( input )
  {
    var label  = input.nextElementSibling,
      labelVal = label.innerHTML;
    input.addEventListener( 'change', function( e )
    {
      var fileName = '';
      if( this.files && this.files.length > 1 )
        fileName = ( this.getAttribute( 'data-multiple-caption' ) || '' ).replace( '{count}', this.files.length );
      else
        fileName = e.target.value.split( '\\' ).pop();
      if( fileName )
        label.querySelector( 'span' ).innerHTML = fileName;
      else
        label.innerHTML = labelVal;
    });
  });
</script>
<% end %>
