
<div class="show-page-header" >
  <div class="calendar-header">
    <div class="top-line-show">
      <h1 style="text-align: left;">Add an availability to your activity<br><small style="color: black;"></small></h1>
    </div>
  </div>
</div>



<div class="container-add" >
  <div class="top-line">
    <h1>Add a new availability</h1>
  </div>

  <div class="form-post" id="new-activity" style="margin: 0 50px 0; box-shadow: none;">
        <%= simple_form_for [:admin, @activity, @availability], defaults: { input_html: { class: "activity-form"} } do |f| %>

        <div class="form-group select required availability_employee">
          <label class="control-label select required" for="availability_employee_id" id="new-activity-text">
            Employee *
          </label>
          <select class="form-control select required activity-form" name="availability[employee_id]" id="availability_employee_id">
            <%= Employee.all.each do |employee| %>
              <option value="<%= employee.id %>"><%= employee.first_name %></option>
            <% end %>
          </select>
        </div>

        <div class="form-group string required availability_start_time">
          <label class="control-label string required"  for="new-activity-text" id="new-activity-text" >
          start-date *
          </label>
          <input class="form-control string required datepickerinput flatpickr-input" mindate="today" id="new-activity-text" required="required" aria-required="true" placeholder="dd/mm/yy" type="hidden" name="availability[start_time]">
        </div>
        <div class="form-group string required availability_end_time">
          <label class="control-label string required" for="availability_end_time" id="new-activity-text">
          end-date *
          </label>
          <input class="form-control string required datepickerinput flatpickr-input" mindate="today" required="required" aria-required="true" type="hidden" name="availability[end_time]" id="availability_end_time">
        </div>

        <%= f.submit "Add", class: "btn btn-primary" %>
        <% end %>
  </div>
</div>
