<% availability_id = params[:id] %>
<% availability = Availability.find(availability_id) %>
<% img = availability.activity.photo? ? availability.activity.photo : "yq4gxp0oltwleiwafrx6" %>
<div class="show-page-header" >
  <div class="calendar-header">
    <div class="top-line-show">
      <h1>Your <%= availability.activity.name %> at </h1> <h2><%= availability.start_time.strftime("%A, %d %b %Y %l:%M %p") %></h2>
    </div>
  </div>

  <div class="tabs">
      <p class="tab active" id="schedule">Booking Info</p>
      <p class="tab " id="details">Chat</p>
  </div>
</div>


  <div class="activity-infos "><%= render "shared/admin-booking-info"  %></div>
  <div class="activity-schedule active"><%= render "shared/admin-booking-chat" %></div>


<%= content_for(:after_js) do %>
  <script>
    scrollLastMessageIntoView();
    App['chat_room_<%= @chatroom.id %>'] = App.cable.subscriptions.create(
      { channel: 'ChatRoomsChannel', chat_room_id: <%= @chatroom.id %> },
      { received: (data) => {
        if (data.sender.email !== "<%= current_employee.email %>") {
          const chatRoom = document.querySelector('.chat-room');
          chatRoom.insertAdjacentHTML('beforeend', data.message_partial);
          scrollLastMessageIntoView();
        }
      }
    });
        // hiding and showing activity-info and activity-schedule
    const details_tab = document.getElementById("details")
    const schedule_tab = document.getElementById("schedule")

    const details = document.querySelector(".activity-infos")
    const schedule = document.querySelector(".activity-schedule")

    details_tab.addEventListener("click", event => {
      details_tab.classList.toggle("active")
      schedule_tab.classList.toggle("active")

      details.classList.toggle("active");
      schedule.classList.toggle("active")
    });

    schedule_tab.addEventListener("click", event => {
      details_tab.classList.toggle("active")
      schedule_tab.classList.toggle("active")

      details.classList.toggle("active");
      schedule.classList.toggle("active")
    });
  </script>
<% end %>
