<h1 class="filter-title text-center">Filter By</h1>
<div class="price-range">
  <%= form_tag(activities_path, method: :get, name: "priceform") do %>
  <% arr = [] %>
    <% @activities.each_with_index do |activity, index| %>
      <% unless arr.include?(activity.category) %>
        <% arr << activity.category %>
        <%= label_tag "#{activity.id}", activity.name.capitalize, class: "category" %>
        <%= check_box_tag "category[]", activity.category, true, class: "respondToInput" %>
        <br>
        <br>
      <% end %>
    <% end %>
    <%= label_tag 'Free', "Free activities", class: "category" %>
    <%= check_box_tag 'free', 0 , false %>
    <br>
    <br>
    <br>
    <div class="slider">
      <span id="ex6CurrentSliderValLabel" class="filter-subtitle">Filter by maximum price: £<span id="priceSliderVal">50</span></span>
      <br>
      <input id="price"  name="price" type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="50" data-slider-tooltip="hide" data-slider-enabled="true"/>
      <br>
      <br>
      <span id="ex7CurrentSliderValLabel" class="filter-subtitle">Filter by minimum number of people: <span id="peopleSliderVal">1</span></span>
      <br>
      <input id="capacity" name="numpeople" type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="1" data-slider-tooltip="hide"/>
    </div>
    <input type="hidden" name="date" value="<%= params[:date] %>">
    <%= submit_tag '', class: "filter", id: "submit" %>
  <% end %>
</div>

<%= content_for(:after_js) do %>
  <script>
      // var flag = false;

    document.getElementById('free').addEventListener('change', () => {
      const priceSlider = document.getElementById('price');
      const priceSliderVal = document.getElementById('priceSliderVal')
      var checkBx = document.getElementById('free')
      // const priceBeforeChkBx;
      // const priceSliderValBeforeChkBx;
      if (checkBx.checked) {
        console.log(priceSlider.value)
        $("#price").slider("disable");
        // priceBeforeChkBx = priceSlider.value;
        // priceSliderValBeforeChkBx = priceSliderVal.innerHTML;
        // priceSlider.value = 0
        // priceSliderVal.innerHTML = 0
        // flag = true;
        if (buildCategoryArray() === null) {
        <% arrRuby = @activities %>;
        var arr = arrRuby;
        var str = "";
        for (var i = 0 ; i < (arr.length-1); i++)
        {
          str = "category[]=" + arr[i].category + "&";
        }
        fetch(`/count?price=${0}&capacity=${$('#capacity').val()}&${str}date=${'<%= params[:date] %>'}`)//category will be empty so it will try find activities with price equal to zero but it cant do that because categories are empty
          .then(response => response.json())
          .then(data => {
            document.getElementById('submit').value = `show ${data.count} results`
          })
        }
        else
        {
          fetch(`/count?price=${0}&capacity=${$('#capacity').val()}&${buildCategoryArray()}date=${'<%= params[:date] %>'}`)//category will be empty so it will try find activities with price equal to zero but it cant do that because categories are empty
          .then(response => response.json())
          .then(data => {
            document.getElementById('submit').value = `show ${data.count} results`
          })
        }
      } else {
        // priceSlider.value = priceBeforeChkBx;
        // priceSliderVal.innerHTML = priceSliderValBeforeChkBx;
        // flag = false;
        $("#price").slider("enable");
        fetch(`/count?price=${$('#price').val()}&capacity=${$('#capacity').val()}&${buildCategoryArray()}&date=${'<%= params[:date] %>'}`)
          .then(response => response.json())
          .then(data => {
            document.getElementById('submit').value = `show ${data.count} results`
          })

      }
      })

    $("#price").slider();
    $("#price").on("change", function(e) {
      $("#priceSliderVal").text(e.value.newValue);
      fetch(`/count?price=${e.value.newValue}&capacity=${$('#capacity').val()}&${buildCategoryArray()}&date=${'<%= params[:date] %>'}`)
        .then(response => response.json())
        .then(data => {
          document.getElementById('submit').value = `show ${data.count} results`
        })
    });

    $("#capacity").slider();
    $("#capacity").on("change", function(e) {
      $("#peopleSliderVal").text(e.value.newValue);
      fetch(`/count?price=${$('#price').val()}&capacity=${e.value.newValue}&${buildCategoryArray()}&date=${'<%= params[:date] %>'}`)
        .then(response => response.json())
        .then(data => {
          document.getElementById('submit').value = `show ${data.count} results`
        })
    });

    document.querySelectorAll('.respondToInput').forEach(checkbox => {
      checkbox.addEventListener('change', (e) => {
        // if (flag == false) {
        fetch(`/count?price=${$('#price').val()}&capacity=${$('#capacity').val()}&${buildCategoryArray()}&date=${'<%= params[:date] %>'}`)
          .then(response => response.json())
          .then(data => {
            document.getElementById('submit').value = `show ${data.count} results`
          })
        // }
        if (buildCategoryArray() === null) {
          fetch(`/count?price=${0}&capacity=${$('#capacity').val()}&${buildCategoryArray()}&date=${'<%= params[:date] %>'}`)
          .then(response => response.json())
          .then(data => {
            document.getElementById('submit').value = `show ${data.count} results`
          })
        }
      })
    })

    function buildCategoryArray() {
      arr = []
      document.querySelectorAll('input[type="checkbox"]').forEach(checkbox => {
        if (checkbox.checked === true) {
          arr.push(`category[]=${checkbox.value}`)
        }
      })
      return arr.join('&')
    }
</script>
<% end %>



