<% img = @activity.photo? ? @activity.photo : 'iyq4gxp0oltwleiwafrx6' %>
<div class="booking-show" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= cl_image_path img %>');">
  <div class="booking-content">
    <h1 id="title"><%= @activity.name %></h1>
    <h2><strong>Location: </strong><%= @activity.location %></h2>
    <h2><strong>Price: </strong>£<%= @activity.price %></h2>
    <h2><strong>Cpacity: </strong><%= @activity.capacity %></h2>
    <h2><strong>Duration: </strong><%= @activity.duration %>h</h2>
  </div>
</div>
<div class="container">
  <h3 class="sub-title">Brief introducition to <%= @activity.name %></h3>
  <h3><%= @activity.description %></h3>
  <h3><%= @activity.description %></h3>
  <hr class="line-break">
  <h3 class="sub-title">Location</h3>
  <div id="map" style="height: 500px;"> </div>
</div>

<%= render "shared/booking_form" %>
