<div class="background-details">
  <div class="container samcontainer">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 col-xs-12">
        <div class="text-center">
          <h3 class="sam-top-title-name"><b>Resort Runner</b></h3>
        </div>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-sm-12 col-xs-12">
        <%= form_for(resource, :html=>{:onsubmit=>"return checkform();"}, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div class="form-group">
            <div class="row">
              <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                <div class="field">
                  <div class="icon"> <i class="material-icons sam-icon">person</i>
                  </div>
                  <div class="user-input"> <%= f.text_field :first_name, placeholder: "First Name", class: 'form-control sam-form-control', id: "first-name" %>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                <div class="field">
                    <div class="icon"> <i class="material-icons sam-icon">person</i>
                    </div>
                    <div class="user-input">
                      <%= f.text_field :last_name, placeholder: "Last Name", class: 'form-control sam-form-control', id: "last-name" %>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          <div class="form-group">
            <div class="row">
              <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                <div class="field" id="email-field">
                  <div class="icon"> <i class="material-icons sam-icon" id="email-icon">email</i>
                  </div>
                  <div class="user-input" id="user-input-email">
                  <%= f.email_field :email, placeholder: "Email", class: 'form-control sam-form-control', id: "email" %>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                <div class="field">
                  <div class="icon"> <i class="fa fa-key sam-icon" aria-hidden="true"></i>
                  </div>
                  <div class="user-input">
                    <%= f.password_field :password, placeholder: "Password", autocomplete: "off", class: 'form-control sam-form-control', id: 'password'%>
                  </div>
                  <br/>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                <div class="field" id="user-input-passwordc">
                    <div class="icon"><i class="fa fa-key sam-icon" aria-hidden="true"></i>
                    </div>
                    <div class="user-input">
                      <%= f.password_field :password_confirmation, placeholder: "Confirm Password", autocomplete: "off", class: 'form-control sam-form-control', id: 'passwordC' %>
                    </div>
                </div>
              </div>
            </div>
          </div>

          <div class="actions">
            <div class="row">
              <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                <div class="field">
                <%= f.button 'Sign Up', class: 'btn btn-primary sam-sign-up', id: 'signup' %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="background-photos"></div>

<script>
  const email = document.getElementById("email");
  email.addEventListener("blur", valid_email);

  const emailIcon = document.getElementById("email-icon");
  let flag = true;
  const userInputEmail = document.getElementById("user-input-email");
  const emailHelp = document.getElementById("email-field");

  function valid_email() {
    const pattern = /\S+@\S+\.\S+/;
    const ans = pattern.test(email.value);
    if ( ans === true) {
        email.classList.remove("sam-form-control-warning");
        emailIcon.classList.remove("icon-control-warning");
        $("#warning-help").remove();
        $("#warning-icon").remove();
        flag = true;
    }
    else {
      email.classList.add("sam-form-control-warning");
      emailIcon.classList.add("icon-control-warning");
      //javascript is smart enough to know not to add the same class twice even if you input an invalid email, remove it, and input another invlaid email
      if (flag === true) {
        emailHelp.insertAdjacentHTML('afterend', '<div id="warning-help">Invalid Email, try again</div>');
        userInputEmail.insertAdjacentHTML('afterend', '<i class="fa fa-exclamation-triangle sam-warning-icon" aria-hidden="true" id="warning-icon"></i>')
        flag = false;
      }
    }
  }

const firstName = document.getElementById("first-name");
const lastName = document.getElementById("last-name");
const passwordConfirmation = document.getElementById("passwordC");
const password = document.getElementById("password");
const userInputPasswordC = document.getElementById("user-input-passwordc");

function checkform() {
  if(password.value === passwordC.value) {
    return true;
  } else if (password.value !== passwordC.value) {
    console.log("we're here");
    userInputPasswordC.insertAdjacentHTML('afterend', '<div id="error">Password and Password Confirmation do not match</div>');
    return false;
  } else if (firstName.value === "" || lastName.value === "" || email.value === "" || password === "" || passwordC == "") {
    return false;
  }
}


</script>
