<div class="background-details">
  <div class="container samcontainer">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 col-xs-12">
        <div class="text-center">
          <h3 class="sam-top-title-name"><b>Resort Runner</b></h3>
        </div>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-sm-12 col-xs-12">
        <%= form_for(resource, :html=>{:onsubmit=>"return checkform();"}, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div class="form-group">
            <div class="row">
              <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                <div class="field" id="first-name-field">
                  <div class="icon"> <i class="material-icons sam-icon" id="first-name-icon">person</i>
                  </div>
                  <div class="user-input" id="user-input-first-name"> <%= f.text_field :first_name, placeholder: "First Name", class: 'form-control sam-form-control', id: "first-name" %>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                <div class="field" id="last-name-field">
                    <div class="icon"> <i class="material-icons sam-icon" id="last-name-icon">person</i>
                    </div>
                    <div class="user-input" id="user-input-last-name">
                      <%= f.text_field :last_name, placeholder: "Last Name", class: 'form-control sam-form-control', id: "last-name" %>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          <div class="form-group">
            <div class="row">
              <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                <div class="field" id="email-field">
                  <div class="icon"> <i class="material-icons sam-icon" id="email-icon">email</i>
                  </div>
                  <div class="user-input" id="user-input-email">
                  <%= f.email_field :email, placeholder: "Email", class: 'form-control sam-form-control', id: "email" %>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                <div class="field" id="password-field">
                  <div class="icon"> <i class="fa fa-key sam-icon" aria-hidden="true" id="password-icon"></i>
                  </div>
                  <div class="user-input" id="user-input-password">
                    <%= f.password_field :password, placeholder: "Password", autocomplete: "off", class: 'form-control sam-form-control', id: 'password'%>
                  </div>
                  <br/>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                <div class="field" id="passwordC-field">
                    <div class="icon"><i class="fa fa-key sam-icon" aria-hidden="true" id="passwordC-icon"></i>
                    </div>
                    <div class="user-input" id="user-input-passwordC">
                      <%= f.password_field :password_confirmation, placeholder: "Confirm Password", autocomplete: "off", class: 'form-control sam-form-control', id: 'passwordC' %>
                    </div>
                </div>
              </div>
            </div>
          </div>

          <div class="actions">
            <div class="row">
              <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                <div class="field">
                <%= f.button 'Sign Up', class: 'btn btn-primary sam-sign-up', id: 'signup' %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="background-photos"></div>

<script>
  const email = document.getElementById("email");
  // email.addEventListener("blur", valid_email);

  const emailIcon = document.getElementById("email-icon");
  const userInputEmail = document.getElementById("user-input-email");
  const emailHelp = document.getElementById("email-field");
  let flag10 = true;
  let flag11 = true;

  // function valid_email() {
  //   const pattern = /\S+@\S+\.\S+/;
  //   const ans = pattern.test(email.value);
  //   if ( ans === true) {
  //       email.classList.remove("sam-form-control-warning");
  //       emailIcon.classList.remove("icon-control-warning");
  //       $("#email-warning-help").remove();
  //       $("#email-warning-icon").remove();

  //       if (flag10 === true) {
  //         email.classList.add("sam-form-control-success");
  //         emailIcon.classList.add("icon-control-success");
  //         userInputEmail.insertAdjacentHTML('afterend', '<i class="fa fa-check sam-success-icon" aria-hidden="true" id="email-success-icon"></i>')
  //         flag10 = false;
  //       }
  //       flag11 = true;
  //   }
  //   else {
  //     email.classList.remove("sam-form-control-success");
  //     emailIcon.classList.remove("icon-control-success");
  //     $("#email-success-icon").remove();

  //     if (flag11 === true) {
  //       email.classList.add("sam-form-control-warning");
  //       emailIcon.classList.add("icon-control-warning");
  //       //javascript is smart enough to know not to add the same class twice even if you input an invalid email, remove it, and input another invlaid email
  //       emailHelp.insertAdjacentHTML('afterend', '<div id="email-warning-help">Invalid Email, try again</div>');
  //       userInputEmail.insertAdjacentHTML('afterend', '<i class="fa fa-exclamation-triangle sam-warning-icon" aria-hidden="true" id="email-warning-icon"></i>')
  //       flag11 = false;
  //     }
  //     flag10 = true;
  //   }
  // }

const firstName = document.getElementById("first-name");
const firstNameHelp = document.getElementById("first-name-field");
const firstNameIcon = document.getElementById("first-name-icon");
const userInputFirstName = document.getElementById("user-input-first-name");
const lastName = document.getElementById("last-name");
const lastNameHelp = document.getElementById("last-name-field");
const lastNameIcon = document.getElementById("last-name-icon");
const userInputLastName = document.getElementById("user-input-last-name");
const passwordConfirmation = document.getElementById("passwordC");
const password = document.getElementById("password");
const userInputPassword = document.getElementById("user-input-password");
const passwordHelp = document.getElementById("password-field");
const userInputPasswordC = document.getElementById("user-input-passwordC");
const passwordCHelp = document.getElementById("passwordC-field");
const passwordCIcon = document.getElementById("passwordC-icon");
const passwordIcon = document.getElementById("password-icon");


let flagCheckform = true;
let flagCheckform1 = true;
let flagCheckform2 = true;
let flagCheckform3 = true;
let flagCheckform4 = true;
let flagCheckform5 = true;
let flag = true;
let flag2 = true;
let flag50 = true;
let flag51 = true;
let flag60 = true;
let flag61 = true;
let flag100 = true;

function checkform() {

  if(password.value === passwordC.value && password.value !== "" && passwordConfirmation.value !== "") {
    password.classList.remove("sam-form-control-warning");
    passwordIcon.classList.remove("icon-control-warning");
    passwordC.classList.remove("sam-form-control-warning");
    passwordCIcon.classList.remove("icon-control-warning");
    $("#password-match-warning-help").remove();
    $("#password-warning-help").remove();
    $("#passwordC-warning-help").remove();
    $("#password-warning-icon").remove();
    $("#passwordC-warning-icon").remove();

    if (flagCheckform1 === true) {
      password.classList.add("sam-form-control-success");
      passwordIcon.classList.add("icon-control-success");
      passwordC.classList.add("sam-form-control-success");
      passwordCIcon.classList.add("icon-control-success");
      userInputPassword.insertAdjacentHTML('afterend', '<i class="fa fa-check sam-success-icon" aria-hidden="true" id="password-success-icon"></i>');
      userInputPasswordC.insertAdjacentHTML('afterend', '<i class="fa fa-check sam-success-icon" aria-hidden="true" id="passwordC-success-icon"></i>');
      flagCheckform1 = false;
    }
    flagCheckform = true;
    flag50 = true;
    flag51 = true;
    flag100 = true;
    //finalAns = true;
  }

  if (password.value === "" && passwordConfirmation.value !== "")
  {
    if(flagCheckform === true) {
      $("#password-match-warning-help").remove();
      $("#password-warning-icon").remove();
      $("#password-warning-help").remove()
      $("#passwordC-warning-help").remove();
    }

    password.classList.remove("sam-form-control-success");
    passwordIcon.classList.remove("icon-control-success");
    $("#password-success-icon").remove();
    $("#passwordC-success-icon").remove();

    if (flag50 === true) {
      password.classList.add("sam-form-control-warning");
      passwordIcon.classList.add("icon-control-warning");
      passwordHelp.insertAdjacentHTML('afterend', '<div id="password-warning-help">This field cannot be left empty</div>');
      userInputPassword.insertAdjacentHTML('afterend', '<i class="fa fa-exclamation-triangle sam-warning-icon" aria-hidden="true" id="password-warning-icon"></i>');
      flag50 = false;
    }
    flagCheckform1 = true;
  }

//flags causing chaos
// 1) enter nothing works
// 2) enter one letter into password but not passwordC works
// 3) make no changes and try sign up again runs the same above which removes warning icon and text, (which I need to do incase passwords don't match - need to double check that ), doesn't get inserted again because flag51 is false in step 3 because of step 2
  if (passwordConfirmation.value === "" && password.value !== "")
  {
    if(flagCheckform === true) {
      $("#password-match-warning-help").remove();
      $("#passwordC-warning-icon").remove();
      $("#passwordC-warning-help").remove();
      $("#password-warning-help").remove();
    }

    passwordC.classList.remove("sam-form-control-success");
    passwordCIcon.classList.remove("icon-control-success");
    $("#passwordC-success-icon").remove();

    if (flag51 === true) {
      passwordC.classList.add("sam-form-control-warning");
      passwordCIcon.classList.add("icon-control-warning");
      passwordCHelp.insertAdjacentHTML('afterend', '<div id="passwordC-warning-help">This field cannot be left empty</div>');
      userInputPasswordC.insertAdjacentHTML('afterend', '<i class="fa fa-exclamation-triangle sam-warning-icon" aria-hidden="true" id="passwordC-warning-icon"></i>');
      flag51 = false;
    }
    flagCheckform1 = true;
  }

  if (passwordConfirmation.value === "" && password.value === "")
  {
    if(flagCheckform === true) {
      $("#password-match-warning-help").remove();
      $("#password-warning-icon").remove();
      $("#passwordC-warning-icon").remove();
    }

    passwordC.classList.remove("sam-form-control-success");
    passwordCIcon.classList.remove("icon-control-success");
    $("#passwordC-success-icon").remove();
    password.classList.remove("sam-form-control-success");
    passwordIcon.classList.remove("icon-control-success");
    $("#password-success-icon").remove();

    if (flag100 === true) {
      passwordC.classList.add("sam-form-control-warning");
      passwordCIcon.classList.add("icon-control-warning");
      passwordCHelp.insertAdjacentHTML('afterend', '<div id="passwordC-warning-help">This field cannot be left empty</div>');
      userInputPasswordC.insertAdjacentHTML('afterend', '<i class="fa fa-exclamation-triangle sam-warning-icon" aria-hidden="true" id="passwordC-warning-icon"></i>');
      password.classList.add("sam-form-control-warning");
      passwordIcon.classList.add("icon-control-warning");
      passwordHelp.insertAdjacentHTML('afterend', '<div id="password-warning-help">This field cannot be left empty</div>');
      userInputPassword.insertAdjacentHTML('afterend', '<i class="fa fa-exclamation-triangle sam-warning-icon" aria-hidden="true" id="password-warning-icon"></i>');
      flag100 = false;
    }
    flagCheckform1 = true;
  }

  if (password.value !== passwordC.value && password.value !== "" &&passwordConfirmation.value !== "") {

    if (flag50 === true) {
      $("#password-warning-help").remove();
      $("#password-warning-icon").remove();
    }

    if (flag51 == true) {
      $("#passwordC-warning-help").remove();
      $("#passwordC-warning-icon").remove();
    }

    if (flag100 == true) {
      $("#password-warning-help").remove();
      $("#passwordC-warning-help").remove();
      $("#password-warning-icon").remove();
      $("#passwordC-warning-icon").remove();
    }

    password.classList.remove("sam-form-control-success");
    passwordIcon.classList.remove("icon-control-success");
    passwordC.classList.remove("sam-form-control-success");
    passwordCIcon.classList.remove("icon-control-success");
    $("#password-success-icon").remove();
    $("#passwordC-success-icon").remove();

    if (flagCheckform === true) {
      password.classList.add("sam-form-control-warning");
      passwordIcon.classList.add("icon-control-warning");
      passwordC.classList.add("sam-form-control-warning");
      passwordCIcon.classList.add("icon-control-warning");
      passwordCHelp.insertAdjacentHTML('afterend', '<div id="password-match-warning-help">Password and Password Confirmation do not match</div>');
      userInputPassword.insertAdjacentHTML('afterend', '<i class="fa fa-exclamation-triangle sam-warning-icon" aria-hidden="true" id="password-warning-icon"></i>');
      userInputPasswordC.insertAdjacentHTML('afterend', '<i class="fa fa-exclamation-triangle sam-warning-icon" aria-hidden="true" id="passwordC-warning-icon"></i>');
      flagCheckform = false;
    }
    flagCheckform1 = true;
    //finalAns = false;
  }

  if (firstName.value === "") {
    firstName.classList.remove("sam-form-control-success");
    firstNameIcon.classList.remove("icon-control-success");
    $("#first-name-success-icon").remove();

    if (flagCheckform2 === true) {
      console.log("we're here");
      firstName.classList.add("sam-form-control-warning");
      firstNameIcon.classList.add("icon-control-warning");
      firstNameHelp.insertAdjacentHTML('afterend', '<div id="first-name-warning-help">This field cannot be left empty</div>');
      userInputFirstName.insertAdjacentHTML('afterend', '<i class="fa fa-exclamation-triangle sam-warning-icon" aria-hidden="true" id="first-name-warning-icon"></i>');
      flagCheckform2 = false;
    }
    flagCheckform3 = true;
    //finalAns = false;
  }

  if (firstName.value !== "") {
    firstName.classList.remove("sam-form-control-warning");
    firstNameIcon.classList.remove("icon-control-warning");
    $("#first-name-warning-help").remove();
    $("#first-name-warning-icon").remove();

    if (flagCheckform3 === true) {
      firstName.classList.add("sam-form-control-success");
      firstNameIcon.classList.add("icon-control-success");
      userInputFirstName.insertAdjacentHTML('afterend', '<i class="fa fa-check sam-success-icon" aria-hidden="true" id="first-name-success-icon"></i>');
      flagCheckform3 = false;
    }
    flagCheckform2 = true;
    //finalAns = true;
  }

  if (lastName.value === "") {
    lastName.classList.remove("sam-form-control-success");
    lastNameIcon.classList.remove("icon-control-success");
    $("#last-name-success-icon").remove();

    if (flagCheckform4 === true) {
      lastName.classList.add("sam-form-control-warning");
      lastNameIcon.classList.add("icon-control-warning");
      lastNameHelp.insertAdjacentHTML('afterend', '<div id="last-name-warning-help">This field cannot be left empty</div>');
      userInputLastName.insertAdjacentHTML('afterend', '<i class="fa fa-exclamation-triangle sam-warning-icon" aria-hidden="true" id="last-name-warning-icon"></i>');
      flagCheckform4 = false;
    }
    flagCheckform5 = true;
    //finalAns = false;
  }


  if (lastName.value !== "") {
    lastName.classList.remove("sam-form-control-warning");
    lastNameIcon.classList.remove("icon-control-warning");
    $("#last-name-warning-help").remove();
    $("#last-name-warning-icon").remove();

    if (flagCheckform5 === true) {
      lastName.classList.add("sam-form-control-success");
      lastNameIcon.classList.add("icon-control-success");
      userInputLastName.insertAdjacentHTML('afterend', '<i class="fa fa-check sam-success-icon" aria-hidden="true" id="last-name-success-icon"></i>');
      flagCheckform5 = false;
    }
    flagCheckform4 = true;
    //finalAns = true;
  }

  const pattern = /\S+@\S+\.\S+/;
  const ans = pattern.test(email.value);

  if ( ans === true) {
      email.classList.remove("sam-form-control-warning");
      emailIcon.classList.remove("icon-control-warning");
      $("#email-warning-help").remove();
      $("#email-warning-icon").remove();

      if (flag2 === true) {
        email.classList.add("sam-form-control-success");
        emailIcon.classList.add("icon-control-success");
        userInputEmail.insertAdjacentHTML('afterend', '<i class="fa fa-check sam-success-icon" aria-hidden="true" id="email-success-icon"></i>')
        flag2 = false;
      }
      flag = true;
  }

  if (ans === false) {
    email.classList.remove("sam-form-control-success");
    emailIcon.classList.remove("icon-control-success");
    $("#email-success-icon").remove();

    if (flag === true) {
      email.classList.add("sam-form-control-warning");
      emailIcon.classList.add("icon-control-warning");
      //javascript is smart enough to know not to add the same class twice even if you input an invalid email, remove it, and input another invlaid email
      emailHelp.insertAdjacentHTML('afterend', '<div id="email-warning-help">Invalid Email, try again</div>');
      userInputEmail.insertAdjacentHTML('afterend', '<i class="fa fa-exclamation-triangle sam-warning-icon" aria-hidden="true" id="email-warning-icon"></i>')
      flag = false;
    }
    flag2 = true;
  }

   return false;
}




</script>
