<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Resort Buddy</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
  </head>
  <body>
    <%= render "shared/employee-nav" %>
    <%= render 'shared/flashes' %>
    <div class="main-container">
      <div class="sidebar"><%= render "shared/sidebar2" %></div>
      <div class="page-content"><%= yield %></div>
    </div>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= tag :div, id: 'guest-notifications', data: {user: current_employee} %>
    <%= yield(:after_js) %>
  </body>
</html>
